<table class="table table-hover ">
    <thead>
      <tr>
        <!-- Headers -->
          @for (col of columns; track col.name) {
            @if (col.visible) {
              <th>
              {{col.header}}
              </th>
            }
          }
        <th>Actions</th>
      </tr>
      <tr>
        <!-- Input fields for filtering -->
          @for (col of columns; track col.name) {
            @if (col.filter) {
              <th>
                @switch (col.type) {
                  @case (ColumnType.Text) {
                    <input 
                    class="form-control" 
                    name="{{col.header}}" 
                    placeholder="Filter {{ col.header }}"
                    [(ngModel)]="filters[col.name]"
                    type="text"
                    (input) = "filter()"/>
                  }
                  @case (ColumnType.Checkbox) {
                    <app-checkbox-filter 
                    (filterChanged)="checkboxFilterStatusChanged(col.name,$event)" >
                  </app-checkbox-filter>
                  }
                }
              </th>
            }
          }
          <!--app-three-state-checkbox-->
      </tr>
    </thead>
    <tbody>
      <!-- Filtered data rows -->
       @for (row of data; track row) {
        <tr>
        @for (col of columns; track col.name) {
            @if (col.visible) {
              <td>
              @switch (col.type) {
                @case (ColumnType.Text) {
                  <span>
                    {{ row[col.name] }}
                  </span>
                }
                @case (ColumnType.Checkbox) {
                  <input 
                  type="checkbox" 
                  [checked]="row[col.name]" 
                  class="checkbox-readonly"/>
                }
              }
              </td>
            }
        }
        <td>
          <a href="#" (click)= "goToDetails($event, row['Id'])" >Edit</a> /
          <a href="#" (click) = "removeElement($event, row['Id'])">Del</a>
        </td> 
        </tr>
       }
    </tbody>
  </table>
