<div class="popup-overlay">
  <div class="popup-content">
    <h2 class="mb-4">New Project</h2>
    <form [formGroup]="projectForm">
      <div class="mb-3">
        <app-input-with-label [inputName]="'title_input'" [labelContent]="'Title'" controlName="title"></app-input-with-label>
      </div>
      <div class="mb-3">
        <app-input-with-label [inputName]="'description_input'" [labelContent]="'Description'" controlName="description"></app-input-with-label>
      </div>
      <div class="mb-3">
        <label for="isActive" class="form-label">Is Active?</label>
        <select id="isActive" class="form-select" formControlName="isActive">
          <option value=true>Yes</option>
          <option value=false>No</option>
        </select>
      </div>
      <div class="mb-3">
        <app-input-with-label [inputName]="'ytCode_input'" [labelContent]="'Yt Code'" controlName="ytCode"></app-input-with-label>
      </div>
      <div class="mb-3">
        <app-input-with-label [inputName]="'repositoryUrl_input'" [labelContent]="'Repository URL'" controlName="repositoryUrl"></app-input-with-label>
      </div>
      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-secondary me-2" (click)="closePopup()">Close</button>
        <button type="button" class="btn btn-primary" (click)="addProject()">Add</button>
      </div>
    </form>
  </div>
</div>
