<form [formGroup]="projectDetailsForm" class="mt-3">
    <div class="mb-3 form-group">
      <label for="title" class="mb-1">Title</label>
      <input type="text" id="title" formControlName="title" class="form-control w-50">
    </div>
    <div class="mb-5 form-group">
      <label for="description" class="mb-1">Description</label>
      <input type="text" id="description" formControlName="description" class="form-control w-50">
    </div>
  </form>
  <app-data-grid-view
  [columns]="instanceColumns"
  [data]="instances"
  [service]="instanceService"
  [dataUrl]="dataUrl"
  ></app-data-grid-view>
